<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="en" xml:lang="en">
  <head>
    <title>Navigation</title>
  </head>
  <body>
    <nav epub:type="toc">
      <%- include('nav.xhtml.toc.ejs', { entries: toc }); %>
    </nav>
    <nav epub:type="landmarks" hidden="">
      <ol>
        <% for(const entry of landmarks) { %>
        <li><a epub:type="<%= entry.type %>" href="<%= entry.href %>"><%= entry.text %></a></li>
        <% } %>
      </ol>
    </nav>
    </body>
</html>
